#intro {
  background: url("../img/audience-band-concert-167636.jpg") no-repeat center center;
  background-size: cover;
}

.top-nav-collapse {
  background-color: black !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background: black !important;
  }
}

#intro .h6 {
  font-weight: 300;
  line-height: 1.7;
}

.hm-gradient .full-bg-img {
  background: black;
  background: linear-gradient(black, rgba(29, 210, 177, 0.7) 100%);
}

@media (max-width: 450px) {
  .margins {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}


#search-box {
  text-align: center;
  width: 50%;
  color: white;
  border-bottom: 1px solid white;
}
  ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
    font-weight: 100;
}
#search-button {
  background: transparent;
  border: none; 
  color: white;
}

#main-container {
  max-width: 100%;
  width: 100%;
  margin: 0 auto 0 auto;
}

.card-image img{
  width: 100%;
}

#map-div {
  /* width: 100%; */
  height: 300px;
  width: 100%;
  background-color: grey;
}

#artist-name {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 18px;
}

#artist-div {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 14px;
  color: black;
}

#artist-table-div {
 margin: 10 auto 10 auto;
 /* justify-content: space-around;
 width: 100%; */
 padding: 0 10px 0 20px;
}

/* artis table */

#table-head {
 border-bottom: 1px solid black;
 margin-bottom: 10px;
}

.table-header-item {
 text-align: left;
}

#artist-table {
 width: 100%;
 text-align: left;
 /* justify-content: space-around; */

}


#table-row {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 150px;
  height: 200px;
}


/* footer */

#footer-div{
  background-color: black;
}


/* about page */

.navbar:not(.top-nav-collapse)
{
  background: black !important;
}

/* .full-height header {
  height: 25px;
} */

#event-amount {
  text-align: center;
}

/* .main-container {
margin: 25px 0 25px 0;

} */

#map-div {
  width: 80%;
  border: 50px solid white;
  height: 500px;
}

#about-header {
  height: 100px;
}